body {
    display: flex;
    flex-direction: column;
}

header li {
    margin-left: 2em;
}

main {
    flex: 1 calc(100vh - 180px);
}

main div {
    width: 100%;
}
#sidebarMenu {
/* in the future, fix the length of this if expands too much bc of how many passages/collections? */
}
#passagebox {
    text-align: center;
}
main small {
    display:flex; 
    justify-content: center;
}

footer span {
    margin-left: 2em;
}

footer {
    box-sizing: border-box;
    flex: 0 40px;
    bottom: 0;
}